body {
	font-family: Arial;
	font-size: 32px;
	background-color: #4DA4FF;
	color: white;
}

a {
	text-decoration: underline;
	color: white;
}

#weathertext {
	position: fixed;
	top: 40%;
	left: 40%;
}

/*
Soligt: #4DA4FF;
Lite moln: #CADCFF;
molnigt: #919191;
Regn: #4C4C4C;