body {
	background-color: #FFFFFF;
}

#weatherText {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
}

#apiLink {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10px;
	font-family: Arial, sans-serif;
}

#apiLink a {
	color: #FFFFFF;
}
/*
Soligt: #4DA4FF;
Lite moln: #CADCFF;
molnigt: #919191;
Regn: #4C4C4C;
*/
