body {
	background-color: #4DA4FF;
}

#weatherText {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
}

/*
Soligt: #4DA4FF;
Lite moln: #CADCFF;
molnigt: #919191;
Regn: #4C4C4C;
*/
